<div class="text">
  <h1>The Atlantic - Tech Column</h1>
</div>

<br>

<div class="text">
  <h2>Stay up to date on the latest tech news!!</h2>
</div>
<input type="button" id="scrapeButton" value="Find New Articles!">

<br>
<br>

<div class="text">
  <h3>Articles</h3>
  <hr>
  <div id="articleSection">

    {{#each articles}}
    <div class="article">
      <h2>{{title}}</h2>
      <hr>
      <img src="{{img}}" class="articleImage">
      <br>
      <a href="{{link}}" target="_blank">Link to article</a>
      <h5>{{blurb}}</h5>
      <h5><em>{{author}}</em></h5>
      {{!-- May need to change _id to something else more correct --}}
      <Input type="button" value="Add Note" class="noteButton" data-id={{_id}} data-title="{{title}}">
      <br>
    </div>
    {{/each}}

  </div>

  <div id="noteDiv" class='modal'>
    {{!-- <span class="close">&times;</span> --}}
  </div>

  <br>
  <br>


</div>

<br>


<br>

{{!-- <div class="text">
<h2>Construct a new Burger!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Burger Type:</label>
    <input type="text" id="burg" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input class="inputs" type="radio" name="devoured" value="1" checked> Devoured! <br>
    <input class="inputs" type="radio" name="devoured" value="0"> Uneaten
  </div>

  <button type="submit">Build Burger</button>
</form>
</div> --}}